:root {
	--bg: #fff;
	--colorFG: #000;
	--colorSubdue: #999999;
	--flow-space: 1rem;
	// --colorHighlight: #D9D9D9; //#F75421;
	// --colorSubdue:#b6b6b6;
}

@mixin padinL {
	padding-left: 1.5rem;
	@media (max-width: 767px) {
		padding-left: 1rem;
	}
}
@mixin padinR {
	padding-right: 1.5rem;
	@media (max-width: 767px) {
		padding-right: 1rem;
	}
}
@mixin padinT {
	padding-top: 1.5rem;
	@media (max-width: 767px) {
		padding-top: 1rem;
	}
}
@mixin padinB {
	padding-bottom: 1.5rem;
	@media (max-width: 767px) {
		padding-bottom: 1rem;
	}
}
@mixin padin {
	@include padinL;
	@include padinR;
	@include padinT;
	@include padinB;
}
@mixin padinLR {
	@include padinL;
	@include padinR;
}

@mixin insetLR {
	padding-left: 1rem;
	padding-right: 1rem;
	@media (min-width: 1024px) {
		padding-left: 8rem;
		padding-right: 8rem;
	}
}
@mixin pullLR {
	margin-left: -1.5rem;
	margin-right: -1.5rem;
}
@mixin padinTB {
	@include padinT;
	@include padinB;
}

@mixin spaceStd {
	margin-bottom: 3rem;
	@media (min-height: 800px) {
		margin-bottom: 4.5rem;
	}
}
@mixin spaceMin {
	margin-bottom: 1rem;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@media (max-width: 768px) {
	#wpadminbar {
		display: none !important;
	}
	html.js {
		margin-top: 0 !important;
	}
}
